/* #modal-button {
    background-color: #a59dff;
    border: none
} */

#openvidu-modal{
    width: 1500px;
    height: 90%;
    margin: auto;
    
}

.video-button {
    color:#a59dff;
    background-color: white;
    padding: 4px 0px 5px 0;
    
    color: white;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
  }
  
  .video-button:hover {
      background-color: #261F74;
      color: #fff;
      text-decoration: none;
      transition: none
    }
  

  