.categoryOut{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categoryIn{
    margin:auto;
    position: relative;
    margin-bottom: 10px;
}

.text{
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topic{
    font-size: 45px;
    margin:auto;
    color:white;
    font-weight: bold;
}

.categoryIn:hover{
    opacity: 0.7;
    cursor: pointer;
}

.categoryIn:hover .text{
    font-family: 'Noto Sans KR';
    font-weight: bolder;
    visibility: visible;
}

.categoryImg{
    height: 270px;
    width: 400px;
}