.main{
    margin: auto;
    justify-content: center;
    display: flex;
}

.category{
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    margin-right: 50px;
    width: 50%;
}

.userlist{
    width: 50%
}