.box{
    height: 500px;
    width: 1000px;

}
.box-sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    height: 500px;
    width: 500px;
    margin-right: 50px;

}

.mainbox {
    margin: auto;
    justify-content: center;
    display: flex;
}
