.userlistDiv{
    margin-left: 50px;
}

.profilebox{
    border: whitesmoke;
    border-width: 1px;
    border-style: solid;
    box-shadow: 2px 2px 2px 1px whitesmoke;

    width: 500px;
    margin: 10px;

    display: flex;
}

.profilebox:hover  #explain{
    cursor: pointer;
	display:block;
	transform-origin: 100% 0%;
	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;
}

.profilebox #explain{
	display: none;
	text-align: left;
	background-color: #A59DFF;
	padding: 10px;
	width: 50px;
	position: absolute;
	border-radius: 3px;
	/* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); */
	right: -4px;
	color: white;
	font-size: 13px;
	line-height: 1.4;
}

.profilebox:hover{
    cursor: pointer;
}

.profileImage{
    width: 100px;
    height: 100px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 80px;
}

.image{
    display: flex;
    margin-bottom: 30px;
}

.language{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    flex-direction: row;
}

#want{
    border: #A59DFF;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-color: #A59DFF;
    color: white;

    box-shadow: 1px 1px 1px 0.5px darkgray;

    font-size: 10px;
    font-family: 'Noto Sans KR';
    font-weight: border;
    text-align: center;

    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;

    margin-right:5px;
}

#fluent{
    border: #685DE2;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-color: #685DE2;
    color: white;

    box-shadow: 1px 1px 1px 0.5px darkgray;

    font-size: 10px;
    font-family: 'Noto Sans KR';;
    font-weight: border;
    text-align: center;

    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;

    margin-left:5px;
    margin-right:5px;
}

#native{
    border: #463CBD;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-color: #463CBD;
    color: white;

    box-shadow: 1px 1px 1px 0.5px darkgray;

    font-size: 10px;
    font-family: 'Noto Sans KR';;
    font-weight: border;
    text-align: center;

    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;

    margin-left:5px;
    margin-right:5px;
}

#nickname{
    font-weight: bold;
    margin-top: 20px;
    height: 10px;
}

#desc{
    font-weight: smaller;
    font-family: 'Noto Sans KR';;
    font-size: 13px;
    height: 10px;
}

#username{
    font-family: 'Noto Sans KR';;
    font-size: 13px;
    height: 10px;
}

.textlayer{
    display: flex;
    flex-direction: column;
    align-items:baseline;
    margin-left: 40px;
}


