.mainlogin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
}
.mainlogo {
	text-align: center;
}
.mainpage {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 150px;
	margin-bottom: 100px;
}
.mainImg{
	width: 40%
}
