.mainlogin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}
.mainlogo {
	text-align: center;
}
.mainpage {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.mainImg{
	width: 50%
}
