.mainlogin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
}
.mainlogo {
	text-align: center;
}
.mainpage {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;

}
.mainImg{
	width: 60%
}
