.profileimage {
	width: 220px;
	height: 220px;
	border-radius: 120px;
	display: inline-block;
	box-shadow: 2px 2px 2px 1px #e0e0e0;
}

.flagimage {
	width: 30px;
}

.rootbox {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.textbox {
	margin-left: 40px;
	margin-top: 10px;
	font-family: 'Noto Sans KR', sans-serif;
}

h3 {
	font-weight: bold;
	margin-bottom: 20px;
}
