
#join{
    text-align: center;
    display: inline-block;
    position: absolute;
}

#join{
    position: relative;
}
#session {
    position: absolute;
    /* margin: auto; */
    /* top: 100px; */
    bottom: 640px;
    /* left: 1500px; */
    right: 1000px;
    height: 100%;
    width: 100%;
}