
#join{
    text-align: center;
    display: inline-block;
    position: absolute;
}

#join{
    position: relative;
}
#session {
    position: relative;
    /* margin: auto; */
    z-index: 9999;
    height: 100%;
    width: 100%;

}