#frame {
    width: 100%;
    min-width: 360px;
    max-width: 1100px;
    height: 92vh;
    min-height: 300px;
    max-height: 720px;
    background: #ffffff;
    margin: auto;
    margin-top: 30px;
    box-shadow: 3px 3px 3px 3px whitesmoke;
  }
  @media screen and (max-width: 360px) {
    #frame {
      width: 100%;
      height: 100vh;
      margin: 0px;
    }
  }
  #frame #sidepanel {
    float: left;
    min-width: 280px;
    max-width: 340px;
    width: 40%;
    height: 100%;
    background: #ffffff;
    border-top: 3px solid #a59dff;
    border-bottom: 3px solid #a59dff;
    border-left: 3px solid #a59dff;
    padding-right: 3px;
    color: black;
    overflow: hidden;
    position: relative;

  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel {
      width: 58px;
      min-width: 58px;
    }
  }
  #frame #sidepanel #profile {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 3px solid #a59dff;
    color: #261f74
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile {
      width: 100%;
      margin: 0;
      padding: 5px 0 0 0;
    }
  }
  #frame #sidepanel #profile.expanded .wrap {
    height: 210px;
    line-height: initial;
  }
  #frame #sidepanel #profile.expanded .wrap p {
    margin-top: 20px;
  }
  #frame #sidepanel #profile.expanded .wrap i.expand-button {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    /*filter: FlipH;*/
    -ms-filter: "FlipH";
  }
  #frame #sidepanel #profile .wrap {
    height: 87px;
    line-height: 60px;
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap {
      height: 55px;
      margin: 0px;
    }
  }
  #frame #sidepanel #profile .wrap img {
    width: 50px;
    border-radius: 50%;
    padding-right: 0px;
    margin-left: 10px;

    height: auto;
    float: left;
    cursor: pointer;
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;
  }
  

  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap img {
      width: 40px;
      margin-left: 4px;
    }
  }
 
  #frame #sidepanel #profile .wrap p {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Noto Sans KR';
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap p {
      
      display: none;
    }
  }
  #frame #sidepanel #profile .wrap i.expand-button {
    float: right;
    margin-top: 23px;
    font-size: 0.8em;
    cursor: pointer;
    color: #435f7a;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #profile .wrap i.expand-button {
      display: none;
    }
  }
  
  #frame #sidepanel #profile .wrap #expanded {
    padding: 100px 0 0 0;
    display: block;
    line-height: initial !important;
  }
  #frame #sidepanel #profile .wrap #expanded label {
    float: left;
    clear: both;
    margin: 0 8px 5px 0;
    padding: 5px 0;
  }
  #frame #sidepanel #profile .wrap #expanded input {
    border: none;
    margin-bottom: 6px;
    background: #32465a;
    border-radius: 3px;
    color: #f5f5f5;
    padding: 7px;
    width: calc(100% - 43px);
  }
  #frame #sidepanel #profile .wrap #expanded input:focus {
    outline: none;
    background: #435f7a;
  }
  
  #frame #sidepanel #contacts {
    height: calc(100% - 177px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  #frame #sidepanel #contacts #list-style {
    list-style:none;
  }

  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts {
      height: calc(100% - 149px);
      overflow-y: scroll;
      overflow-x: hidden;
    }
    #frame #sidepanel #contacts::-webkit-scrollbar {
      display: none;
    }
  }
  #frame #sidepanel #contacts.expanded {
    height: calc(100% - 334px);
  }
  #frame #sidepanel #contacts::-webkit-scrollbar {
    width:1px;
    background: red
  }
  #frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    width:1px;
    background-color: blue
  }
  #frame #sidepanel #contacts::-webkit-scrollbar-track {
    background-color: green
  }
  #frame #sidepanel #contacts ul li.contact {
    position: relative;
    padding: 10px 0 15px 0;
    font-size: 0.9em;
    cursor: pointer;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact {
      padding: 6px 0 46px 8px;
    }
  }
  #frame #sidepanel #contacts ul li.contact:hover {
    background: whitesmoke;
  }
  #frame #sidepanel #contacts ul li.contact.active {
    color: white;
    background: #ffffff;
    background-color: #a59dff;
    /* border: 5px solid #a59dff; */
  }
  #frame #sidepanel #contacts ul li.contact.active span.contact-status {
    border: 2px solid #a59dff !important;

  }
  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 88%;
    margin: 0px 0px 0px 10px;
    position: relative;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap {
      width: 100%;
    }
  }
 
  #frame #sidepanel #contacts ul li.contact .wrap #profileflag {
    width: 25px;
    border-radius: 10%;
    float: left;
    margin-right: 10px;
  }
  #frame #sidepanel #contacts ul li.contact .wrap #profileimg {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap img {
      margin-right: 0px;
    }
  }

  
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
    margin-top: 5px;
    padding: 5px 0 0 0;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #contacts ul li.contact .wrap .meta {
      display: none;
    }
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    display: inline-block;
    font-weight: 600;
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
    color: white;
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
    position: initial;
    border-radius: initial;
    background: none;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: 0.5;
  }
  #frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  #frame #sidepanel #bottom-bar button {
    float: left;
    border: none;
    width: 50%;
    padding: 10px 0;
    background: #32465a;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.85em;
    font-family: 'Noto Sans KR';
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button {
      float: none;
      width: 100%;
      padding: 15px 0;
    }
  }
  #frame #sidepanel #bottom-bar button:focus {
    outline: none;
  }
  #frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid #2c3e50;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button:nth-child(1) {
      border-right: none;
      border-bottom: 1px solid #2c3e50;
    }
  }
  #frame #sidepanel #bottom-bar button:hover {
    background: #261f74;
  }
  #frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button i {
      font-size: 1.3em;
    }
  }
  @media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button span {
      display: none;
    }
  }
  #frame .content {
    background-color: #ffffff;
    box-shadow: none;
    padding:0 0 0 0;
    padding-left: 3px;
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border: #a59dff 3px solid;
  }
  @media screen and (max-width: 735px) {
    #frame .content {
      width: calc(100% - 58px);
      min-width: 300px !important;
    }
  }
  @media screen and (min-width: 900px) {
    #frame .content {
      width: calc(100% - 340px);
    }
  }
  #frame .content .contact-profile {
    width: 100%;
    height: 90px;
    line-height: 60px;
    background: #ffffff;
    display: flex; 
    flex-direction: column;
    border-bottom: 3px solid #a59dff;
    color:#261f74;
  }

  #frame .content .contact-profile img {
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 12px 0 9px;
  }
  #frame .content .contact-profile p {
    display: inline-block;
  }
 
 
  #frame .content .messages {
    height:560px;
    min-height: calc(100% - 150px);
    max-height: calc(100% - 200px); 
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    background-color: #ffffff;
  }
  @media screen and (max-width: 735px) {
    #frame .content .messages {
      max-height: calc(100% - 105px);
    }
  }
  #frame .content .messages::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  #frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);


  }
  #frame .content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
  }
  #frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
  }
  #frame .content .messages ul li.replies img {
  
    margin: 6px 8px 0px 0px;
  }
  #frame .content .messages ul li.replies p {
    background: #a59dff;
    color: #f5f5f5;
  }
  #frame .content .messages ul li.sent img {

    float: right;
    margin: 6px 0 0 8px;
  }
  #frame .content .messages ul li.sent p {
    
    background: #463cbd;
    color:white;
  
    float: right;
  }
  #frame .content .messages ul li img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    float: left;
  }
  #frame .content .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
    font-size: 16px;
  }
  @media screen and (min-width: 735px) {
    #frame .content .messages ul li p {
      max-width: 300px;
    }
  }
  #frame .content .message-input {
    position: absolute;
    bottom: 0 !important;
    width: 100%;
    z-index: 99;
    
  }
  #frame .content .message-input .wrap {
    position: relative;
  }
  #frame .content .message-input .wrap input {
    width: 688px;
    font-family: 'Noto Sans KR';
    float: left;
    border: #a59dff 2px solid;
    width: calc(100% - 51px);
    padding: 12px 0px 8px 8px;
    margin-right: 1px;
    font-size: 0.8em;
    color: #32465a;
    font-size: 16px;
  }
  @media screen and (max-width: 735px) {
    #frame .content .message-input .wrap input {
      padding: 15px 0px 16px 8px;
    }
  }
  #frame .content .message-input .wrap input:focus {
    outline: none;
  }

  #chat-message-button {
    margin-bottom: 4px;
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #a59dff;
    color: #f5f5f5;
    height: 48px;
  }
  @media screen and (max-width: 735px) {
    #frame .content .message-input .wrap button {
      padding: 16px 0;
    }
  }
  #frame .content .message-input .wrap button:hover {
    background: #261f74;
  }
  #frame .content .message-input .wrap button:focus {
    outline: none;
  }

  .chatlanguagebox{
    display: flex;
    flex-direction: row;
    justify-content: start;
    display: inline-block;
    margin-left:10px;
    margin-top:10px;
    float: none;

}

#chatwantlanguage{
  border: #A59DFF;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  background-color: #A59DFF;
  color: white;
  box-shadow: 1px 1px 1px 0.5px darkgray;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right:5px;
}

#chatfluentlanguage{
  border: #685DE2;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  background-color: #685DE2;
  color: white;
  box-shadow: 1px 1px 1px 0.5px darkgray;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right:5px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#chatnativelanguage{
  border: #463CBD;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  background-color: #463CBD;
  color: white;
  box-shadow: 1px 1px 1px 0.5px darkgray;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left:5px;
  margin-right:5px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.contact-profilename {
  font-size: 20px;
  font-weight: bold;
}

